<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <!-- Navbar -->
        <%- include('../partials/navbar') %>

        <h1>Contact Us</h1>

        <!-- Footer -->
        <%- include('../partials/footer') %>

        <!-- JavaScript -->
        <%- include('../partials/script') %>
    </body>
</html>
