<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <!-- Navbar -->
        <%- include('../partials/navbar') %>

        <!-- Showcase -->
        <section
            class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
        >
            <div class="container">
                <div
                    class="d-sm-flex align-items-center justify-content-between"
                >
                    <img
                        class="mb-5 mt-5 img-fluid w-50 d-none d-sm-block rounded"
                        src="/images/flag.jpeg"
                        alt=""
                    />
                    <div class="">
                        <h1>
                            Welcome to <span class="text-danger">Denmark</span>!
                        </h1>
                        <p class="lead my-4">
                            The Nordic country consisting of 5.83 million
                            citizens.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Guide -->
        <h1 class="mt-5 text-center">Guide</h1>
        <section class="p-5">
            <div class="container">
                <div
                    class="row align-items-center justify-content-between"
                >
                <div class="col-md p-5">
                    <h2>Housing</h2>
                    <p class="lead">Housing in Denmark requires lots of information. It is even more complicated for the international students.  </p>
                    <p> The link below is a survival guide for international students including usefull information about housing: <br> <a href="https://esknet.dk/wp-content/uploads/2021/05/Survival-Guide_2021.pdf">International students survival guide</a>  </p>
                    
                </div>
                <div class="col-md">
                    <img src="/images/howitworks_2.svg" class="img-fluid" alt="">
                </div>
            </div>
        </section> 
        
        <section class="p-5">
            <div class="container">
                <div
                    class="row align-items-center justify-content-between"
                >
                <div class="col-md">
                    <img src="/images/howitworks_1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md p-5">
                    <h2>CPR</h2>
                    <p class="lead">All residences in Denmark required having a civil registration number called CPR number. A CPR number is necessory, if you want to have access to services like opening a bank account, getting a Danish phone number, borrow book from library etc. </p>
                    You can read more about how to get a danish CPR number here: <br> <a href="https://studyindenmark.dk/live-in-denmark/permits-visas-red-tape/how-do-i-get-a-danish-id-number-cpr"> How to get a CPR number</a></p>

                </div>
            </div>
        </section>

        <section class="p-5">
            <div class="container">
                <div
                    class="row align-items-center justify-content-between"
                >
                <div class="col-md p-5">
                    <h2>Rejsekort</h2>
                    <p class="lead">The public transportation is not cheap in Denmark, but having a travel card (rejsekort) makes it more affordable.<br> This electronic ticket, gives you the possibility to use all public transport services, like bus, train and ferries.</p>
                    <p> For ordering a rejsekort follow the link below: <br> <a href="https://www.rejsekort.dk/Bestil">Order a rejsekort</a> </p>                                        
                </div>
                <div class="col-md">
                    <img src="/images/howitworks_2.svg" class="img-fluid" alt="">
                </div>
            </div>
        </section> 

        <section class="p-5">
            <div class="container">
                <div
                    class="row align-items-center justify-content-between"
                >
                <div class="col-md">
                    <img src="/images/howitworks_3.svg" class="img-fluid w-50" alt="">
                </div>
                <div class="col-md p-5">
                    <h2>Boligstøtte</h2>
                    <p class="lead">If you live in a renting house, you may be eligible to apply for housing benefits. </p>
                    <p>You can read about the conditions here: <br> <a href="https://www.borger.dk/kampagnesider/udbetaling-danmark-english">Benefits and conditions</a>
                        </p>

                </div>
            </div>
        </section>

        <section class="p-5">
            <div class="container">
                <div
                    class="row align-items-center justify-content-between"
                >
                <div class="col-md p-5">
                    <h2>SU</h2>
                    <p class="lead">All full time students in Denmark have right to get a state educational grant called SU (Statens Uddannelsesstøtte). If you are a foreign citizens student, there are some criteria, that must be fulfilled. </p>
                    <p>Read about the criteria here: <br> <a href="https://www.su.dk/english/su-as-a-foreign-citizen/#:~:text=If%20you%20are%20a%20foreign,to%20be%20entitled%20to%20SU.">SU as a foreign citizen</a></p>
                    
                </div>
                <div class="col-md">
                    <img src="/images/howitworks_2.svg" class="img-fluid" alt="">
                </div>
            </div>
        </section> 

        <section class="p-5">
            <div class="container">
                <div
                    class="row align-items-center justify-content-between"
                >
                <div class="col-md">
                    <img src="/images/howitworks_3.svg" class="img-fluid w-50" alt="">
                </div>
                <div class="col-md p-5">
                    <h2>Internet</h2>
                    <p class="lead">If you are a student, you have access to free internet (sometimes <a href="https://eduroam.org/?p=faq">Eduroam</a>) in the university, library and residential halls. Additionally, the other internet options in Denmark are easy to access and very affordable. </p>
                    <p>If you need more information about Internet click on the link below: <br> <a href="https://www.expat.com/en/guide/europe/denmark/14368-phones-and-internet-in-denmark.html">Internet in Denmark</a></p>

                </div>
            </div>
        </section>

        <section class="p-5">
            <div class="container">
                <div
                    class="row align-items-center justify-content-between"
                >
                <div class="col-md p-5">
                    <h2>Phones</h2>
                    <p class="lead">SIM cards are so cheap in Denmark and you can easily buy your phone or SIM card from a convenience store or a phone shop, based on your needs and budget. Phones and Sim cards from European countries will most likely work in Denmark. </p>
                    <p>Related links and information are available in the link below: <br> <a href="https://www.expat.com/en/guide/europe/denmark/14368-phones-and-internet-in-denmark.html">Mobile/smartphone in Denmark</a></p>
                    
                </div>
                <div class="col-md">
                    <img src="/images/howitworks_2.svg" class="img-fluid" alt="">
                </div>
            </div>
        </section> 

        <!-- Footer -->
        <%- include('../partials/footer') %>

        <!-- JavaScript -->
        <%- include('../partials/script') %>
    </body>
</html>
